.timeline {
  margin: 1rem;
} 

.event {
    display: flex;
    flex-direction: row;
}
.event__heading {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    border-right: 0.25rem solid red;
    border-color: red;
}
.event__details {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 1.5rem;
    font-style: italic;
}
.event__heading--bold {
  font-weight: bold;
}

/* green dot */
.event__dot {
  height: 1.4rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgb(15, 119, 43);
  position: relative;
  left: -0.8rem;
  top: 1rem;
}

.event__dot--mobile {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  background-color: rgb(15, 119, 43);
  position: relative;
  left: -0.9rem;
  top: 1.3rem;
  display: none;
}

/* media query */
@media only screen and (max-width: 768px) {
    .event {
        flex-direction: column;
        border-left: 0.3rem solid red;
    }

    .event__heading {
        border-right-style: none;
    }

    .event__dot {
      height: 1.5rem;
      width: 1.5rem;
      display: none;
    }
    .event__dot--mobile {
      display: block;
    }
}
